<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core.mapper.shoppingMall.OmsOrderMapper">
    <resultMap id="BaseResultMap" type="com.core.pojo.shoppingMall.OmsOrder">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="member_id" jdbcType="BIGINT" property="memberId" />
        <result column="coupon_id" jdbcType="BIGINT" property="couponId" />
        <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="member_username" jdbcType="VARCHAR" property="memberUsername" />
        <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
        <result column="pay_amount" jdbcType="DECIMAL" property="payAmount" />
        <result column="freight_amount" jdbcType="DECIMAL" property="freightAmount" />
        <result column="promotion_amount" jdbcType="DECIMAL" property="promotionAmount" />
        <result column="integration_amount" jdbcType="DECIMAL" property="integrationAmount" />
        <result column="coupon_amount" jdbcType="DECIMAL" property="couponAmount" />
        <result column="discount_amount" jdbcType="DECIMAL" property="discountAmount" />
        <result column="pay_type" jdbcType="INTEGER" property="payType" />
        <result column="source_type" jdbcType="INTEGER" property="sourceType" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="order_type" jdbcType="INTEGER" property="orderType" />
        <result column="delivery_company" jdbcType="VARCHAR" property="deliveryCompany" />
        <result column="delivery_sn" jdbcType="VARCHAR" property="deliverySn" />
        <result column="auto_confirm_day" jdbcType="INTEGER" property="autoConfirmDay" />
        <result column="integration" jdbcType="INTEGER" property="integration" />
        <result column="growth" jdbcType="INTEGER" property="growth" />
        <result column="promotion_info" jdbcType="VARCHAR" property="promotionInfo" />
        <result column="bill_type" jdbcType="INTEGER" property="billType" />
        <result column="bill_header" jdbcType="VARCHAR" property="billHeader" />
        <result column="bill_content" jdbcType="VARCHAR" property="billContent" />
        <result column="bill_receiver_phone" jdbcType="VARCHAR" property="billReceiverPhone" />
        <result column="bill_receiver_email" jdbcType="VARCHAR" property="billReceiverEmail" />
        <result column="receiver_name" jdbcType="VARCHAR" property="receiverName" />
        <result column="receiver_phone" jdbcType="VARCHAR" property="receiverPhone" />
        <result column="receiver_post_code" jdbcType="VARCHAR" property="receiverPostCode" />
        <result column="receiver_province" jdbcType="VARCHAR" property="receiverProvince" />
        <result column="receiver_city" jdbcType="VARCHAR" property="receiverCity" />
        <result column="receiver_region" jdbcType="VARCHAR" property="receiverRegion" />
        <result column="receiver_detail_address" jdbcType="VARCHAR" property="receiverDetailAddress" />
        <result column="note" jdbcType="VARCHAR" property="note" />
        <result column="confirm_status" jdbcType="INTEGER" property="confirmStatus" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
        <result column="use_integration" jdbcType="INTEGER" property="useIntegration" />
        <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime" />
        <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime" />
        <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime" />
        <result column="comment_time" jdbcType="TIMESTAMP" property="commentTime" />
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    </resultMap>
    <select id="selectWay" resultMap="BaseResultMap" parameterType="com.core.apiParams.OmsOrderListParam">
        SELECT *
        FROM
        oms_order
        WHERE
        delete_status = 0
        <if test="orderSn!=null and orderSn!=''">
            AND order_sn = #{orderSn}
        </if>
        <if test="status!=null">
            AND `status` = #{status}
        </if>
        <if test="sourceType!=null">
            AND source_type = #{sourceType}
        </if>
        <if test="orderType!=null">
            AND order_type = #{orderType}
        </if>
        <if test="createTime!=null and createTime!=''">
            AND create_time LIKE concat(#{createTime},"%")
        </if>
        <if test="receiverKeyword!=null and receiverKeyword!=''">
            AND (
            receiver_name LIKE concat("%",#{receiverKeyword},"%")
            OR receiver_phone LIKE concat("%",#{receiverKeyword},"%")
            )
        </if>
    </select>

    <!--  +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

    <resultMap id="orderDetailResultMap" type="com.core.pojo.shoppingMall.OmsOrderDetail" extends="BaseResultMap">
        <collection property="orderItemList" resultMap="com.core.mapper.shoppingMall.OmsOrderItemMapper.BaseResultMap" columnPrefix="item_"/>
        <collection property="historyList" resultMap="com.core.mapper.shoppingMall.OmsOrderOperateHistoryMapper.BaseResultMap" columnPrefix="history_"/>
    </resultMap>

    <select id="selectDetail" resultMap="orderDetailResultMap" parameterType="Long">
        SELECT o.*,
               oi.id item_id,
               oi.product_id item_product_id,
               oi.product_sn item_product_sn,
               oi.product_pic item_product_pic,
               oi.product_name item_product_name,
               oi.product_brand item_product_brand,
               oi.product_price item_product_price,
               oi.product_quantity item_product_quantity,
               oi.product_attr item_product_attr,
               oh.id history_id,
               oh.operate_man history_operate_man,
               oh.create_time history_create_time,
               oh.order_status history_order_status,
               oh.note history_note
        FROM
            oms_order o
                LEFT JOIN oms_order_item oi ON o.id = oi.order_id
                LEFT JOIN oms_order_operate_history oh ON o.id = oh.order_id
        WHERE
            o.id = #{id}
        ORDER BY oi.id ASC,oh.create_time DESC
    </select>

    <update id="update_deleteStatus" parameterType="Map">
        update oms_order
        <set>
            <if test="deleteStatus != null">
                delete_status = #{deleteStatus,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>