<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core.mapper.shoppingMall.PmsProductAttributeCategoryMapper">
    <resultMap id="BaseResultMap" type="com.core.pojo.shoppingMall.PmsProductAttributeCategory">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="attribute_count" jdbcType="INTEGER" property="attributeCount" />
        <result column="param_count" jdbcType="INTEGER" property="paramCount" />
    </resultMap>
    <sql id="Base_Column_List">
        id, name, attribute_count, param_count
    </sql>
    <select id="selectWay" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from pms_product_attribute_category
    </select>
</mapper>